*{margin: 0;padding: 0;}

body{
    background-color: rgba(6, 7, 0, 0.829);
    
    }

#portal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(127, 255, 212, 0.37);
    position: absolute;
    // display: none;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
} 

#portal .portal{
    background-color: rebeccapurple;
    // flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width:100%;
    max-width: 500px;
}

.portal input{
    // width: 100%;
    padding: 5px;
    font-size: 20px;
    margin: 5px;
}

.portal button{
    width: 100px;
    padding: 5px;
    font-size: 20px;
    margin: 5px;
}