.container{
    padding-top: 10px;
    box-sizing: border-box;
    // background-color: rgba(13, 224, 70, 0.829);
    border: solid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.container_title, .container_title01{
    text-align: center;
    position: relative;
    padding-bottom: 6px;
    color: aliceblue;
    height: 40px;
}

.menu_body{

    width: 50px;
    height:35px;
    border-radius: 50px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #2a06f8c7;
    font-size: small;
    color: white;
}


.container_note{
    box-sizing: border-box;
    
    display: flex;
    width: 80%;
    height: 100%;
    position: relative;
    margin: auto; 
    flex-direction: column;      
}

.contaienr_cuerpo{
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;

}

@media screen and(max-width:950px) {
    .container_note{
        width: 90%;
    }   
}

@media screen and(max-width:750px) {
    .container_note{
        width: 98%;
    }
    .container_body{
        flex: 3 1;
    }
}

.log_and_menu{
    display: flex;
    position: absolute;
}
.log_and_menu button:last-child{
    border-radius: 20px;
    background-color: aquamarine;
    margin: 0 5px;
    font-size: large;
    padding: 5px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

//CONTAINER LIST



 .container_list{
    box-sizing: border-box;
    display: block;
    width: 210px;
    min-width: 200px;
    max-width: 800px;
    // overflow: auto;
    resize: horizontal;
    scroll-behavior: smooth;
    padding-bottom: 10px;
    background-color: rgb(197, 209, 206);
    padding: 1px;
    // background-color: rgba(0, 0, 0, 0);
    // animation: ocultar 2s ease .5s 1 forwards ;

    overflow: hidden;
    padding-top: 25px;
}

.risize_container{
    position: relative;
    width: 2px;
    bottom: 0;
}

.risize_container img{
    position: absolute;
    color: red;
    z-index: 999;
    background-color: white;
    bottom: -5px;
    left: -25px;
    height: 25px;
    width: 30px;
    border-radius: 50px;
}


@keyframes ocultar {
    0%{
        position: relative;
        left: 0;
    }
    
    
    100%{ 
        position: relative;
        left: 100px;
}
}

.menu_itemButtom{
    border:none;
    border-radius: 50%;
    width: 35px;
    height:35px;
}
.menu_itemButtom img{
    width: 100%;
}


@media screen and(max-width:750px) {

    .container_title h1{
        display: none;
    }
    .container_list{
        display: none;
        position: absolute;
        overflow-x: hidden;
        height: 100%;
        z-index: 101;
        max-width: 90%;
        
    }
}



.cotainer_option_list{
    width: 200px;
    background-color: aquamarine;
    position:absolute;
    top: 0;
    max-width: 210px;
    z-index: 1;
}
.cotainer_option_list button{
    width: 50%;
    margin: auto;
}
.cotainer_option_list .add_folder{
    background-color: rgba(105, 99, 99, 0.644);
    width: 100%;
    font-size: x-large;
}

.container_items{
    float: right;
    font-size: 20px;
    width: 100%;
    // padding-top: 25px;
    
    height: 100%;
    overflow: auto;
}
// ESTILOS DE ESCROLLL
.container_items::-webkit-scrollbar{
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    // display: none;  /* Ocultar scroll */
}

.container_items::-webkit-scrollbar-thumb {
    background: rgb(139, 9, 9);
    border-radius: 4px;
}

.container_items::-webkit-scrollbar-thumb:hover {
    background: #dd1414;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.container_items::-webkit-scrollbar-thumb:active {
    background-color: #ce1010;
}
///////7
.icons{
    width: 50px;
    // height: 100px;
    background-color: aquamarine;
}

.pruebas_items{
    width: 30px;
    background: gray;
}

.items{
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
    height: auto;
    // overflow: hidden;
    display: block;
    border-left: 1px solid rgba(135, 139, 125, 0.459);
    border-color: red;
    border-left-style: dashed;
    min-width: 100px;
}

.items p{
    
    border-bottom: 2px red;
  
    color: rgb(11, 24, 97);
    cursor:pointer;
    width:auto;
    white-space: nowrap;
    // text-align: justify;
    text-overflow: ellipsis;
    // overflow: hidden;
    // hyphens: auto;
    font-size: smaller;
    height: 20px;
    padding-left: 27px;
    padding-top: 2px;
    padding-bottom: 5px;
    font-weight: bold;
}

.items .puntos{
    transform: rotate(90deg);
    color: green;
    cursor: pointer;
   float: left;
}

.puntos:hover{
    color: whitesmoke
    
}

.items p:hover{
    color: rgb(207, 70, 28);

}

.items img, .items span{
    width: 15px;
    float: left;
    overflow: hidden;

    margin:0px 0 0 3px;
}

.items .flecha{
    color: white;
}
.items img{
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.inputAddFolder{
        margin-top: 5px;
        width: 97%;
        padding: 1px;
        outline: none;
        display: none;
}

.pruebas:focus{
    background-color: red;
}

.itemsMenu{
    display: none;
    position: absolute;
    z-index: 102;
    background-color: blue;
    color: white;
    top: 0;
    left: 0;
    
}

.itemsMenu p{
    padding: 5px;
    cursor: pointer;
}
.itemsMenu p:active{
    background-color: aqua;
}

// element add file and folder

#inputForAdd_FILI_FOLDER{
    width: 95%;
    padding: 3px;
    margin-top: 10px;
}

#submitForAdd_FILI_FOLDER{
    display: none;
}

// //CONTAINER BODY
.container_body{

    flex: 2 1;
    max-width: 100%;
    min-width: 200px;
    position: relative;
    overflow: hidden;
    background-color: rgb(22, 16, 16);
    color: wheat;

}

.button_editables{
    background-color: rgb(63, 34, 6);
    // height:100px;
    top: 0;
    right: 0;
    position: absolute;
 
}

.button_editables p{
    color: greenyellow;
    background-color: rgba(5, 238, 5, 0.425);
    text-shadow: black 2px 2px 3px;
    font-size: large;
    position: absolute;
    padding: 3px;
    font-size: 0;
    animation: 1s ease-in .5s 1 normal none;
}

@keyframes animate {
    50%{ font-size: 20px; }
    90%{ font-size: 20px; }
}

.button_editables button{
    margin: auto;
    margin: 5px 5px;
    padding: 2px;
    
}

.apuntes{
    padding-top: 5px;
    width: 100%;
    // background-color: rgb(4, 43, 77);
    position: absolute;
    height: 100%;
    overflow: hidden;
}

.apuntes .namefolder{
    position: absolute;
    padding: 0px 10px;
    font-size: small;
    font-family:'Times New Roman', Times, serif;
    color: red;
}

.apuntes textarea{
    outline: none;
    width: 100%;
    // border: none;
    color: white;
    background-color: rgb(22, 16, 16);
    max-width: 100%;
    min-width: 300px;
    padding: 15px 5px 5px 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: baseline;
    // overflow: hidden;
    // position: absolute;
    bottom: 0;
    resize: none;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 95%;
}

