
body{
    background-image: url('../docs/img/fondo.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    }


@import './sass/app.scss';
@import './sass/log_out.scss';
@import './sass/container.scss';
@import './sass/animation.scss';